:root {
  --color-texto: #999;
  --color-blanco: #fff;
  --color-links: #f03f37;
  --color-fondo: #111;
  --tecnologias: {
    width: 80px;
    height: 80px;
    display: inline-block;
    background-size: cover;
  };
}